h1 { 
    text-align: center;
    background-color: bisque;
    color: #8a2be2;
    font-size: xx-large;
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;  
}


.recipe-image {
    height: auto;
    width: 324px;
    justify-content: center;
}