h1 { 
    text-align: center;
    background-color: bisque;
    color: #8a2be2;
    font-size: 55px; ; 
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;

}

h2 {
    font-size: 43px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2.description { 
    background-color: rgb(124, 86, 40);
    color: orange;
}

h2.steps { 
    background-color: maroon;
    color: yellowgreen;
    }

h2.ingredients { 
    background-color: aquamarine;
    color: plum;
}

.list {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
font-weight: bold;
text-align: right;
background-color: cornflowerblue;
color: firebrick;
}

p.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: rgb(213, 255, 24);
    background-color: grey;
    text-align: justify;
}

ol {
    font-size: 18px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
    color: #73af1e;
}

ul{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1;
    color: red;
    background-color: yellow;
    text-align: right;

}


.recipe-image {
    height: auto;
    width: 324px;
    justify-content: center;
}